<section class="container my-profile">
    <header class="header-content clearfix">
        <em class="icon-address-card-o"></em>
        <h2 class="title">Mi perfil</h2>
    </header>
    <div class="main-content">
        <div class="user-info-container clearfix">
            <figure class="profile-image">
                <img [src]='userData.image_url' alt="Profile image">
                <span class="change_img" (click)='updateImage = !updateImage'><p>Cambiar imagen de perfil</p></span>
            </figure>
            
            <div class="change-profile-image-container" *ngIf="updateImage">
                <div class="arrow">
                    <div class="outer"></div>
                    <div class="inner"></div>
                </div>
                <p>Presione el boton que se encuentra debajo </p><hr>
                <input type="file" accept="image/png, image/jpeg" [(ngModel)]="newImage"> <hr>
                <button class="btn-primary btn-submit" (click)='updateProfileImage()'>Aceptar</button>
                <button class="btn-primary btn-cancel" (click)='updateImage = false'>Cancelar</button>
            </div>
            
            <div class="info-content">
                <div class="username-content">
                    <em class="icon-user"></em><h1 class="info-item inline-block">{{ userData.username }}</h1>
                </div>
                <div class="email-content">
                    <em class="icon-mail"></em><span class="info-item inline-block">{{ userData.email }}</span>
                </div>
                <div class="birthday-content">
                    <em class="icon-birthday"></em><h3 class="info-item inline-block">{{ userData.fecha_nacimiento }}</h3>
                </div>
            </div>
        </div>
        <hr>
        <div class="my-cases">
            <div class="main-content">
                <header class="header-content">
                    <em class="icon-list"></em>
                    <h2>Mis casos</h2>
                </header>
                <ul class="cases-list" *ngIf="myCases">
                    <li class="case clearfix" *ngFor="let case of myCases">
                        <p class="case-id">Reporte N° {{ case.id_caso }} -</p>
                        <p class="date" title="Fecha de registro">{{ case.fecha_registro }}</p>
                        <div class="buttons">
                            <a [routerLink]="['/cases/', case.id_caso]" routerLinkActive="router-link-active" >
                                <button class="btn-primary btn-submit"    
                                        title="Editar caso"
                                >
                                <em class="icon-envelope-open-o"></em>
                            </button>
                            </a>
                            <button class="btn-primary btn-cancel"
                                    (click)='deleteCaseById(case.id_caso)'
                                    title="Eliminar caso"
                            >
                                <em class="icon-wide-cross"></em>
                            </button>
                        </div>
                    </li>
                </ul>
                <div class="not-cases" *ngIf="!myCases">
                    <p>No tienes reportes registrados</p>
                </div>
            </div>
        </div>
    </div>
</section>