<section class="container my-profile">
    <header class="header-content clearfix">
        <em class="icon-address-card"></em>
        <h2 class="title">Mi perfil</h2>
    </header>
    <div class="main-content">
        <div class="user-info-container clearfix">
            <!-- User profile image -->
            <figure class="profile-image">
                <img [src]='userData.image_url' alt="Profile image">
                <span class="change_img" (click)='updateImage = !updateImage'><p>Cambiar imagen de perfil</p></span>
            </figure>
            
            <!-- Change image modal -->
            <div class="change-profile-image-container" *ngIf="updateImage">
                <div class="arrow">
                    <div class="outer"></div>
                    <div class="inner"></div>
                </div>
                <p>Presione el boton que se encuentra debajo </p><hr>
                <input type="file" accept="image/png, image/jpeg" [(ngModel)]="newImage"> <hr>
                <button class="btn-primary btn-submit" (click)='updateProfileImage()'>Aceptar</button>
                <button class="btn-primary btn-cancel" (click)='updateImage = false'>Cancelar</button>
            </div>
            
            <!-- User information form -->
            <div class="form-content">
                <form [formGroup]="userForm">
                    <ul>
                        <li>
                            <p class="title">Nombre de usuario</p>
                            <input 
                                type="text" 
                                formControlName="username"
                                [ngClass]="{'disable-element': !edit}"
                                [attr.disabled]="!edit ? '' : null"
                            >
                        </li>
                        <li>
                            <p class="title">Correo electronico</p>
                            <input 
                                type="email" 
                                formControlName="email" 
                                autocomplete="off"
                                [ngClass]="{'disable-element': !edit}"    
                                [attr.disabled]="!edit ? '' : null"
                            >
                        </li>
                        <li>
                            <p class="title">Seleccione su sexo</p>
                            <select 
                                formControlName="sexo"
                                [ngClass]="{'disable-element': !edit}"
                                [attr.disabled]="!edit ? '' : null"
                            >
                                <option ngValue={{types}} *ngFor="let types of sexTypes">{{ types }}</option>
                            </select>
                        </li>
                        <li>
                            <p class="title">Fecha de nacimiento</p>
                            <input 
                                type="date"
                                formControlName="fecha_nacimiento"
                                [ngClass]="{'disable-element': !edit}"
                                [attr.disabled]="!edit ? '' : null"
                            >
                        </li>
                    </ul>
                </form>
                <ul class="buttons-content clearfix" *ngIf="edit">
                    <li 
                        class="btn-primary btn-cancel" 
                        (click)='edit = !edit'
                    >
                        Cancelar
                    </li>
                    <li class="btn-primary btn-submit" (click)="updateUser()"> Guardar </li>
                </ul>
            </div>
            
            <!-- Options items -->
            <em 
                class="icon-edit"
                (click)="edit = !edit"   
                title="Editar perfil de usuario"   
            ></em>

        </div>
        <hr>
        <div class="my-cases">
            <header class="header-content">
                <em class="icon-list"></em>
                <h2>Mis casos</h2>
            </header>
            <div class="main-content">
                <ul class="cases-list" *ngIf="myCases">
                    <li class="case clearfix" *ngFor="let case of myCases">
                        <p class="case-id">Reporte N° {{ case.id_caso }} -</p>
                        <p class="date" title="Fecha de registro">{{ case.fecha_registro }}</p>
                        <div class="buttons">
                            <a [routerLink]="['/cases/', case.id_caso]" routerLinkActive="router-link-active" >
                                <button class="btn-primary btn-submit"    
                                        title="Editar caso"
                                >
                                <em class="icon-edit"></em>
                            </button>
                            </a>
                            <button class="btn-primary btn-cancel"
                                    (click)='deleteCase = !deleteCase'
                                    title="Eliminar caso"
                            >
                                <em class="icon-cancel"></em>
                            </button>
                        </div>
                        <div class="confirm-dlt-case black-layer" *ngIf="deleteCase">
                            <div class="modal clearfix">
                                <h2>¿Seguro que desea eliminar el reporte? Esta acción es irreversible.</h2>
                                <div class="buttons">
                                    <button class="btn-primary btn-cancel"
                                            (click)="deleteCase = !deleteCase"
                                    >
                                        Cancelar
                                    </button>
                                    <button class="btn-primary btn-submit"
                                            (click)="deleteCaseById(case.id_caso)"
                                    >
                                        Confirmar
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="not-cases" *ngIf="!myCases">
                    <p>No tienes reportes registrados</p>
                </div>
            </div>
        </div>
    </div>
</section>