<app-navbar></app-navbar>
<section class="container">
    <div class="main-content">
        <table>
            <tr>
              <th>Username</th>
              <th>Email</th>
              <th>Fecha de ingreso</th>
              <th>Fecha de nacimiento</th>
            </tr>
            <tr *ngFor="let user of users">
              <td>{{ user.username  }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.fecharegistro | date: 'dd/MM/yyyy' }}</td>
              <td>{{ user.fechanac | date: 'dd/MM/yyyy' }}</td>
            </tr>
          </table>
    </div>
</section>