<section class="home-page">
    <div class="top-navbar">
        <div class="main-content clearfix">
            <figure>
                <img src="assets/img/recetas-ya.svg" alt="RecetasYa! logo">
            </figure>
            <ul class="clearfix">
                <li>
                    <button class="ele-blue-white" (click)='openModal(modal)'><i class="icon-menu-outline"></i></button>
                </li>
            </ul>
        </div>

        <!-- Modal login/sign up -->
        <ng-template #modal let-modal>
            <div class="header-buttons">
                <ul class="clearfix">
                    <li (click)="letModal = false" [ngClass]="{selected: !letModal}"><i class="icon-user-o"></i> <span>Login</span> </li>
                    <li (click)="letModal = true" [ngClass]="{selected: letModal}"><i class="icon-contact"></i> <span>Registro</span> </li>
                </ul>
            </div>
            <div class="login-modal" *ngIf="!letModal">
                <div class="modal-header">
                    <span>Login</span>  
                </div>
                <div class="form-content">
                    <form [formGroup]="loginForm">
                        <ul>
                            <li>
                                <span class="title">Correo electronico</span>
                                <input type="email" formControlName="email" placeholder="ejemplo@ejemplo.com">
                                <div class="required">Este campo es obligatorio.</div>
                            </li>
                            <li>
                                <span class="title">Contraseña</span>
                                <input type="password" formControlName="password" placeholder="********">
                                <div class="required">Este campo es obligatorio.</div>
                            </li>
                        </ul>
                    </form>
    
                    <button [disabled]="!loginForm.valid" (click)="submitUser()">Aceptar</button>
                    <button (click)="closeModal()">Cancelar</button>
                </div>
            </div>
            <div class="signup-modal" *ngIf="letModal">
                <div class="modal-header">
                    <span>Registro</span>
                </div>
                <div class="form-content">
                    <form [formGroup]="signupForm"
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    >
                        <ul>
                            <li>
                                <span class="title">Nombre de usuario</span>
                                <input type="text" formControlName="username" placeholder="usuario123">
                                <div class="required">Este campo es obligatorio. Minimo 6 caracteres.</div>
                            </li>
                            <li>
                                <span class="title">Correo electronico</span>
                                <input type="email" formControlName="email" placeholder="ejemplo@gmail.com">
                                <div class="required">Este campo es obligatorio.</div>
                            </li>
                            <li>
                                <span class="title">Contraseña</span>
                                <input type="password" formControlName="password" placeholder="Minimo 8 caracteres">
                                <div class="required">Este campo es obligatorio. Minimo 8 caracteres.</div>
                            </li>
                            <li>
                                <span class="title">Seleccione su sexo</span>
                                <select formControlName="sexo">
                                    <option ngValue="Mujer">Mujer</option>
                                    <option ngValue="Hombre">Hombre</option>
                                    <option ngValue="Prefiero no decirlo">Prefiero no decirlo</option>
                                </select>
                                <div class="required">Este campo es obligatorio. Minimo 8 caracteres.</div>
                            </li>
                            <li>
                                <span class="title">Fecha de nacimiento</span>
                                <input type="date" formControlName="fechanac">
                                <div class="required">Este campo es obligatorio.</div>
                            </li>
                        </ul>
                    </form>
    
                    <button [disabled]="!signupForm.valid" (click)="submitUser()">Aceptar</button>
                    <button (click)="closeModal()">Cancelar</button>
                </div>
            </div>
        </ng-template>
    </div>
</section>
