<section class="home-page">
    <div class="top-navbar">
        <div class="main-content clearfix">
            <figure>
                <img src="assets/img/recetas-ya.svg" alt="RecetasYa! logo">
            </figure>
            <ul class="clearfix">
                <li>
                    <button class="btn-primary btn-submit ele-blue-white"
                        data-toggle="modal" data-target="#modalLoginSignup"
                    >
                        Comienza ahora
                    </button>
                </li>
            </ul>
        </div>

        <app-login-signup></app-login-signup>
    </div>
</section>
