<div class="menu" [ngClass]="isNavbarExpand ? 'menu-expand' : ''">
    <figure class="logo-content">
        <img src="/assets/img/sline.svg" alt="Sline logo">
    </figure>
    <span class="line"></span>
    <ul>
        <li class="clearfix">
            <a [routerLink]="['/info']" routerLinkActive="router-link-active" >
                Info
            </a>
        </li>
        <li class="clearfix">
            <a [routerLink]="['/cases']" routerLinkActive="router-link-active" >
                Ver casos
            </a>
        </li>
        <li class="clearfix">
            <a [routerLink]="['/users']" routerLinkActive="router-link-active" >
                Listado de usuarios
            </a>
        </li>
    </ul>
</div>