<div class="list-cases" [ngClass]="{'open': open}">
    <div class="header-content">
        <ul class="clearfix">
            <li class="item" *ngIf="open"> <em class="icon-list"> </em></li>
            <li class="title" *ngIf="open"><h2>Reportes</h2> </li>
            <li class="arrow item" (click)="open = !open"> <em class="icon-right"> </em></li>
        </ul>
    </div>
    <div class="list-content">
        <div class="case-content" *ngFor="let case of listCases">
            <div class="header">
                <p class="case-id">
                    Reporte n° {{ case.id_caso }} -
                </p>
                <p class="verified-text">
                    {{ case.verificado ? 'Verificado' : 'Sin verificar' }}
                </p>
                <figure class="verified-icon">
                    <img 
                        [src]='
                            case.verificado 
                            ? "https://res.cloudinary.com/sline-uy/image/upload/v1602080773/correct.svg" 
                            : "https://res.cloudinary.com/sline-uy/image/upload/v1602080777/wrong-icon.svg"' 
                            
                        [alt]='case.verificado ? "Verificado" : "Sin verificar"' 
                        [title]='case.verificado ? "Verificado" : "Sin verificar"'
                    >
                </figure>
                <p class="date">
                    {{ case.fecha_registro }}
                </p>
            </div>
            <div class="body">
                <p class="description-content">
                    {{ case.descripcion }}
                </p>
                <p class="username">
                    {{ case.username }}
                </p>
            </div>
        </div>
    </div>
    <div class="footer-content">
        <a href="create-case" class="pink-btn">
            <em class="icon-plus inline-block"></em>
            <p class="inline-block">Reportar</p>
        </a>
    </div>
</div>
<div class="external-content" *ngIf="!open">
    <a href="create-case" class="pink-btn">
        <em class="icon-plus inline-block"></em>
        <p class="inline-block">Reportar</p>
    </a>
</div>
<div class="black-layer" (click)='open = !open'></div>