<div class="navbar" [ngClass]="isNavbarExpand ? 'complete-menu' : ''">
    <a href="#">
       <figure class="logo-content clearfix" (click)='toggleNavbar()'>
            <img class="logo" src="assets/img/logo.svg" alt="logo-image" />
            <img class="back-button" src="assets/img/back.svg" alt="back-button">
        </figure>
    </a>
    <span class="line"></span>
    <ul [ngClass]="status ? 'show-list' : ''">
        <a href="#">
            <li class="clearfix">
                <figure class="logo-view"><img src="assets/img/list.svg" alt=""/></figure>
                <p>Ver casos <span></span></p>
            </li>
        </a>
    </ul>
    <ul class="sign-in" [ngClass]="status ? 'show-list' : ''">
        <a href="">
            <li>
                <figure><img src="assets/img/login.svg" alt="sign-in"></figure>
                Sign in
            </li>
        </a>
    </ul>
</div>