<div class="navbar" [ngClass]="status ? 'complete-menu' : ''">
    <figure class="logo-content" (click)='clickEvent()'>
        <a href="#" class="clearfix">
            <img class="logo" src="assets/img/logo.svg" alt="logo-image" />
            <img class="back-button" src="assets/img/back.svg" alt="back-button">
        </a>
    </figure>
    <ul [ngClass]="status ? 'show-list' : ''">
        <li class="clearfix">
            <a href="#">
                <figure class="logo-view"><img src="assets/img/list.svg" alt=""/></figure>
                <p>Ver casos <span></span></p>
            </a>
        </li>
    </ul>
    <ul class="bottom-menu" [ngClass]="status ? 'show-list' : ''">
        <li>
            <a href="#">
                <figure class="logo-view"><img src="assets/img/ui.svg" alt=""/></figure>
                <p>Logout <span></span></p>
            </a>
        </li>
    </ul>
</div>