<section class="container case-details create-case">
    <div class="main-content clearfix" *ngIf="caseData">
        <div class="header-content">
            <em class="icon-form"></em>
            <h2 class="title">Detalles de caso nº {{ caseData.id_caso }}</h2>
            <ul class="buttons-content">
                <a [routerLink]="['/my-profile']" routerLinkActive="router-link-active" ><li class="btn-primary btn-cancel"> Cancelar </li></a>
                <li class="btn-primary btn-submit" (click)="edit = !edit">Guardar cambios</li>
            </ul>
        </div>

        <div class="info-content clearfix" *ngIf="caseData">
            <div class="verified-content">
                <figure><img [src]="caseData.verified ? 'https://res.cloudinary.com/sline-uy/image/upload/v1602080773/correct.svg' : 'https://res.cloudinary.com/sline-uy/image/upload/v1602080777/wrong-icon.svg'" alt="verified-icon"></figure>
                <p>{{ caseData.verified ? 'Verificado' : 'Sin verificar' }}</p>
            </div>
            <p class="registered-date">Fecha de registro: {{ caseData.fecha_registro }}</p>
            <div class="user-info">
                Publicado por: <h3>{{ caseData.username }}</h3>
            </div>
        </div>

        <div class="form-content">
            <form [formGroup]="caseForm">
                <ul>
                    <li class="select-content">
                        <h2 class="title">Seleccionar tipo de violencia<span *ngIf="edit">*</span></h2>
                        <select formControlName="tipo_violencia">
                            <option ngValue={{types}} *ngFor="let types of violenceTypes">{{ types }}</option>
                        </select>
                        <p> <span>Nota: </span> {{ violenceTypesDefinitions[caseForm.value.tipo_violencia] }}</p>
                    </li>
                    <li class="description-content">
                        <h2 class="title">Descripcion de los hechos: <span *ngIf="edit">*</span></h2>
                        <textarea type="text" 
                            formControlName="descripcion"  
                        ></textarea>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</section>