<!-- <section class="container case-edit create-case">
    <div class="header-content clearfix">
        <em class="icon-form"></em>
        <h2 class="title">Detalles de reporte nº {{ caseData.id_caso}}</h2>
        <ul class="buttons-content">
            <a [routerLink]="['/my-profile']" routerLinkActive="router-link-active" ><li class="btn-primary btn-cancel"> Cancelar </li></a>
            <li class="btn-primary btn-submit" (click)='updateCase()'>Guardar cambios</li>
        </ul>
    </div>
    <div class="main-content clearfix">

        <div class="info-content clearfix">
            <p class="registered-date">Fecha de registro: {{ caseData.fecha_registro }}</p>
            <div class="verified-content">
                <figure class="verified-icon">
                    <img 
                        [src]='
                            caseData.verificado 
                            ? "https://res.cloudinary.com/sline-uy/image/upload/v1602080773/correct.svg" 
                            : "https://res.cloudinary.com/sline-uy/image/upload/v1602080777/wrong-icon.svg"' 
                            
                        [alt]='caseData.verificado ? "Verificado" : "Sin verificar"' 
                        [title]='caseData.verificado ? "Verificado" : "Sin verificar"'
                    >
                </figure>
                <p class="verified-text">
                    {{ caseData.verificado ? 'Verificado por el equipo de SLine!' : 'Sin verificar' }}
                </p>
            </div>           
        </div>
        
        <div class="form-content">
            <form [formGroup]="caseForm">
                <ul>
                    <li class="select-content">
                        <h2 class="title">Seleccionar tipo de violencia <span>*</span></h2>
                        <select formControlName="tipo_violencia">
                            <option ngValue={{types}} *ngFor="let types of violenceTypes">{{ types }}</option>
                        </select>
                        <p>{{ violenceTypesDefinitions[caseForm.value.tipo_violencia] }}</p>
                    </li>
                    <li class="description-content">
                        <h2 class="title">Descripcion de los hechos: <span>*</span></h2>
                        <textarea type="text" 
                            formControlName="descripcion"  
                        ></textarea>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</section> -->