<section class="home-page">
    <div class="main-content clearfix">
        <div class="left-box clearfix">
            <figure class="logo">
                <img src="assets/img/logo.svg" alt="sline-logo">
            </figure>
        </div>
        <div class="right-box">
            <form>
                <div class="input-name">
                    <input placeholder="Nombre y apellido" spellcheck="false" autocomplete="off"
                           type="text" name="name" id="name""
                           required minlength="10" ngModel
                    >
                    <span class="obligatorio">
                        Este campo es obligatorio <hr>
                        El minimo de caracteres es de 10
                    </span>
                </div>
                <div class="input-nickname">
                    <input type="text" name="nickname" id="nickname"
                        placeholder="Nombre de usuario"
                    >
                    <span class="obligatorio">
                        Este campo es obligatorio
                    </span>
                </div>
                <div class="input-email">
                    <input type="email" name="email" id="email" 
                        placeholder="Direccion de correo electronico"
                    >
                    <span class="obligatorio">
                        Este campo es obligatorio
                    </span>
                </div>
                <div class="input-password">
                    <input placeholder="Password"
                       type="password" name="password" id="password" 
                    >
                    <span class="obligatorio">
                        Este campo es obligatorio
                    </span>
                </div>
                <input class="button" type="submit" value="Aceptar">
                <input class="button" type="button" value="Cancelar" >
            </form>
        </div>
    </div>
</section>