<!-- Modal login/sign up -->
<section class="login-page clearfix">
    <div class="modal-content">
        <div class="modal">
            <div class="header-buttons">
                <ul class="clearfix">
                    <li (click)="letModal = true" [ngClass]="{'selected': letModal}">
                        <em class="icon-email"></em> <span>Login</span> 
                    </li>
                    <li (click)="letModal = false" [ngClass]="{'selected': !letModal}">
                        <em class="icon-useradd"></em> <span>Registro</span>
                    </li>
                </ul>
            </div>
            <div class="login-modal" *ngIf="letModal">
                <div class="modal-header">
                    <span>Login</span>
                </div>
                <div class="form-content">
                    <form [formGroup]="loginForm">
                        <ul>
                            <li>
                                <p class="title">Correo electronico <span> *</span></p>
                                <input type="email" formControlName="email" autocomplete="on" (keyup.enter)="login()">
                            </li>
                            <li>
                                <p class="title">Contraseña <span> *</span></p>
                            <input type="password" formControlName="password" autocomplete="on" (keyup.enter)="login()">
                            </li>
                        </ul>
                    </form>
                    <div class="haveAccount">¿Aun no tienes una cuenta? <a (click)="letModal = false">Registrate</a></div>
                    <div class="buttons-content">
                        <button 
                            [disabled]="!loginForm.valid"
                            (click)="login()" 
                            class="btn-primary"
                            [ngClass]="!loginForm.valid === true ? 'btn-disabled' : 'btn-submit'"
                        >
                            Ingresar
                        </button>
                    </div>
                </div>
            </div>
            <div class="signup-modal" *ngIf="!letModal">
                <div class="modal-header">
                    <span class="title">Registro</span>
                </div>
                <div class="form-content">
                    <form [formGroup]="signupForm">
                        <ul>
                            <li>
                                <p class="title">Nombre de usuario <span> *</span></p>
                                <input type="text" formControlName="username">
                                <div class="required">Minimo 6 caracteres.</div>
                            </li>
                            <li>
                                <p class="title">Correo electronico <span> *</span></p>
                                <input type="email" formControlName="email" autocomplete="on">
                            </li>
                            <li>
                                <p class="title">Contraseña <span> *</span></p>
                                <input type="password" formControlName="password" autocomplete="on">
                                <div class="required">Minimo 8 caracteres.</div>
                            </li>
                            <li>
                                <p class="title">Confirmar contraseña <span> *</span></p>
                                <input type="password" formControlName="confirmPassword">
                                <figure class="check-icon">
                                    <img 
                                        src="/assets/img/correct-icon.svg" 
                                        alt="check icon"
                                        *ngIf="signupForm.get('password').value === signupForm.get('confirmPassword').value && signupForm.get('password').value != ''"
                                    >
                                    <img 
                                        src="/assets/img/wrong-icon.svg" 
                                        alt="check icon"
                                        *ngIf="signupForm.get('password').value !== signupForm.get('confirmPassword').value"
                                    >
                                </figure>
                                <div class="required">La contraseña no coincide.</div>
                            </li>
                            <li>
                                <p class="title">Seleccione su sexo <span> *</span></p>
                                <select formControlName="sexo">
                                    <option ngValue={{types}} *ngFor="let types of sexTypes">{{ types }}</option>
                                </select>
                            </li>
                            <li>
                                <p class="title">Fecha de nacimiento <span> *</span></p>
                                <input type="date" formControlName="fechanac" max=`${todayDate}`>
                            </li>
                        </ul>
                        
                    </form>
                    <div class="haveAccount">¿Ya tienes una cuenta? <a (click)="letModal = true">Inicia sesión</a></div>
                    <div class="buttons-content">
                        <button [disabled]="!signupForm.valid" (click)="submitUser()" class="btn-primary"
                            [ngClass]="!signupForm.valid ? 'btn-disabled' : 'btn-submit'">Registrarse</button>
                    </div>
                </div>
            </div>    
        </div>
    </div>
</section>
