<!-- Modal login/sign up -->
<section class="login-page container clearfix">
    <div class="main-content">
        <figure>
            <img src="https://res.cloudinary.com/sline-uy/image/upload/v1602770440/sline_uqcix5.svg" alt="sline logo">
        </figure>
        <div class="modal-content">
            <div class="modal">
                <div class="login-modal" *ngIf="letModal">
                    <div class="modal-header">
                        <h1 class="title">Inicio de sesión</h1>
                        <span class="underline"></span>
                    </div>
                    <div class="form-content">
                        <form [formGroup]="loginForm">
                            <ul>
                                <li>
                                    <p class="title">Correo electronico</p>
                                    <input type="email" formControlName="email" autocomplete="on" (keyup.enter)="login()">
                                </li>
                                <li>
                                    <p class="title">Contraseña</p>
                                <input type="password" formControlName="password" autocomplete="on" (keyup.enter)="login()">
                                </li>
                            </ul>
                        </form>
                        <div class="haveAccount">¿Aun no tienes una cuenta? <a (click)="letModal = false">Registrate</a></div>
                        <div class="buttons-content">
                            <button 
                                (click)="login()" 
                                class="btn-primary btn-submit"
                            >
                                Ingresar
                            </button>
                        </div>
                    </div>
                </div>
                <div class="signup-modal" *ngIf="!letModal">
                    <div class="modal-header">
                        <h1 class="title">Registro</h1>
                        <span class="underline"></span>
                    </div>
                    <div class="form-content">
                        <form [formGroup]="signupForm">
                            <ul>
                                <li>
                                    <p class="title">Nombre de usuario <span> *</span></p>
                                    <input type="text" formControlName="username">
                                    <div class="required">Minimo 6 caracteres.</div>
                                </li>
                                <li>
                                    <p class="title">Correo electronico <span> *</span></p>
                                    <input type="email" formControlName="email" autocomplete="off">
                                </li>
                                <li>
                                    <p class="title">Contraseña <span> *</span></p>
                                    <input type="password" formControlName="password" autocomplete="off">
                                    <div class="required">Minimo 8 caracteres.</div>
                                </li>
                                <li>
                                    <p class="title">Confirmar contraseña <span> *</span></p>
                                    <input type="password" formControlName="confirmPassword">
                                    <figure class="check-icon">
                                        <img 
                                            src="https://res.cloudinary.com/sline-uy/image/upload/v1602080773/correct.svg" 
                                            alt="check icon"
                                            *ngIf="signupForm.get('password').value === signupForm.get('confirmPassword').value && signupForm.get('password').value != ''"
                                        >
                                        <img 
                                            src="https://res.cloudinary.com/sline-uy/image/upload/v1602080777/wrong-icon.svg" 
                                            alt="check icon"
                                            *ngIf="signupForm.get('password').value !== signupForm.get('confirmPassword').value"
                                        >
                                    </figure>
                                    <div class="required">La contraseña no coincide.</div>
                                </li>
                                <li>
                                    <p class="title">Seleccione su sexo <span> *</span></p>
                                    <select formControlName="sexo">
                                        <option ngValue={{types}} *ngFor="let types of sexTypes">{{ types }}</option>
                                    </select>
                                </li>
                                <li>
                                    <p class="title">Fecha de nacimiento <span> *</span></p>
                                    <input type="date" 
                                        formControlName="fecha_nacimiento"
                                    >
                                </li>
                            </ul>
                            
                        </form>
                        <div class="haveAccount">¿Ya tienes una cuenta? <a (click)="letModal = true">Inicia sesión</a></div>
                        <div class="buttons-content">
                            <button [disabled]="!signupForm.valid" (click)="submitUser()" class="btn-primary"
                                [ngClass]="signupForm.valid ? 'btn-submit' : 'btn-disabled'">Registrarse</button>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>
</section>
