<section class="pageNotFound">
    <div class="header-content">
    </div>
    <div class="main-content">
        <figure>
            <img src="assets/img/error.svg" alt="Page Not Found logo">
        </figure>
        <h1>Ups! Pagina no encontrada</h1>
        <p>Lo sentimos, no pudimos acceder a la pagina que deseas.</p>
        <p *ngIf="isLoggedIn === undefined">
            Quizas deberias de iniciar sesion y si no tiene una cuenta, registrate, es gratis!
        </p>
        <ul *ngIf="isLoggedIn === undefined">
            <a [routerLink]="['/login']" routerLinkActive="router-link-active" >
                <li>Ir a la pagina de inicio</li>
            </a>
        </ul>
    </div>
</section>