<div class="menu">
    <div class="nav-head">
        <figure class="logo-content">
            <img src="https://res.cloudinary.com/sline-uy/image/upload/v1602080825/sline.svg" alt="Sline logo">
        </figure>
    </div>
    <span class="line"></span>

    <ul class="menu-items">
        <a [routerLink]="['/cases']" routerLinkActive="router-link-active">
            <li class="clearfix">
                    <em class="icon-map"></em>
                    Ver casos
            </li>
        </a>
    </ul>

    <ul class="buttom-options menu-items">
        <a [routerLink]="['/my-profile']" routerLinkActive="router-link-active" >
            <li class="user-profile clearfix" aria-label="Mi perfil">
                <figure class="profile-image">
                    <img 
                        [src]="userData.image_url"
                        alt="Profile image"
                    >
                </figure>
                <p>{{ userData.username }}</p>
            </li>
        </a>
        <span class="line"></span>

        <li class="clearfix"
            (click)="logout()"
        >
            <em class="icon-logout"></em>
            Logout
        </li>
    </ul>
</div>