<section class="container donde-denunciar">
    <header class="header-content clearfix">
        <em class="icon-users"></em>
        <h2 class="title">Dónde denunciar situaciones de violencia de género</h2>
    </header>
    <div class="main-content">
        <article class="clearfix">
            <div class="left-content clearfix">
                <figure>
                    <img src="https://play-lh.googleusercontent.com/E588m9r8gPHA20nqnLOkkKRiw6tuaLTaZIwbzNzJAEGb7jTTasvM3CIX_jxDZf4Xhg" alt="911-app">
                </figure>
            </div>
            <div class="right-content">
                <h2 class="title">Emergencia 9-1-1</h2>
                <span class="sub-title">Aplicación para teléfonos celulares</span>
                <p class="text">
                    Consta de 4 tipos de Emergencia: Policía, Bomberos, Tránsito y Violencia Doméstica, así como un Botón de Pánico que podrá ser activado si el solicitante es víctima de secuestro o copamiento, siempre que sea en proceso.
                    Este servicio ofrece al ciudadano una herramienta rápida y efectiva para solicitar la asistencia de la Policía, dando ésta respuesta inmediata optimizando el uso de los recursos disponibles.
                    Es una aplicación inclusiva donde permite su uso a personas con discapacidad auditiva.
                </p>
                <hr>
                <footer class="footer-content">
                    <span>Sitios de descargas para Android y iOS</span>
                    <ul class="clearfix">
                        <li>
                            <a href="https://play.google.com/store/apps/details?id=com.minterior.emergencia911">
                                <figure>
                                    <img src="https://www.flaticon.com/svg/static/icons/svg/300/300218.svg" alt="Play Store">
                                </figure>
                            </a>
                        </li>
                        <li>
                            <a href="https://apps.apple.com/uy/app/emergencia-9-1-1/id1190346513">
                                <figure>
                                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/App_Store_%28macOS%29.svg/1200px-App_Store_%28macOS%29.svg.png" alt="App Store logo">
                                </figure>
                            </a>
                        </li>
                    </ul>
                </footer>
            </div>
        </article>

        <article class="clearfix">
            <div class="left-content clearfix">
                <figure>
                    <img src="https://lh3.googleusercontent.com/proxy/VBraw63Vs53h20imjPOYIPFIgwVRPzb6oMxrxjr43klx4zYf9foUg0_7df4yHmkG4z4qPIpQbk5PGRGzpxXdTgFL2q5kVAwxhNwj9vaZCWtlWT3pWWdzcHHOOiaT" alt="0800 5000">
                </figure>
            </div>
            <div class="right-content">
                <h2 class="title">0800 5000</h2>
                <span class="sub-title">Recepción de denuncias anónimas</span>
                <p class="text">
                    Las denuncias son sobre: violencia doméstica, boca de venta de drogas, situaciones en las cárceles, problemas vecinales, solicitudes de patrullaje, entre otras. En cuanto a la información solicitada, por lo general, es acerca de los trámites que ofrecen las distintas dependencias del Ministerio del Interior, como ser: pasaporte, cédula, permiso del menor.
                    El servicio funciona de lunes a sábado de 8:00 a 20:00 horas, en tres turnos. El equipo de trabajo está compuesto por un director, un subdirector, ocho administrativos (cinco de mañana y tres de tarde), y quince operadores (cinco por turno).
                </p>
                <hr>
                <footer class="footer-content">
                    <span>Presionar en el boton para llamar</span>
                    <ul class="clearfix">
                        <li>
                            <a href="tel:0800 5000">
                                <figure>
                                    <img src="https://www.flaticon.com/svg/static/icons/svg/2983/2983780.svg" alt="cellphone logo">
                                </figure>
                            </a>
                        </li>
                    </ul>
                </footer>
            </div>
        </article>
    </div>
</section>